<style>
    .cart {
        position:absolute;
         top:11px;
         right: 15px;

    }
</style>

<!-- 
<style>
    img{
        width: 100%;
        height:100%;
    }
    .slideshow{
        padding-left: 50px;
    position:relative;
    width:1000px;
    height:600px;
    transform-style: preserve-3d;
    perspective: 1000px;
    }
    .slideshow .slide{
        background-color: gray;
    position: absolute;

    top:0;
    left:0;
    bottom:0;
    right:0;
    transform: rotateY(90deg);
    animation: animate 20s linear infinite;
    
    }
    .slideshow .slide:nth-child(1){
        animation-delay: 0s;
    }
    .slideshow .slide:nth-child(2){
        animation-delay: 2s;
    }
    .slideshow .slide:nth-child(3){
        animation-delay: 4s;
    }
    .slideshow .slide:nth-child(4){
        animation-delay: 6s;
    }
    .slideshow .slide:nth-child(5){
        animation-delay: 8s;
    }
    .slideshow .slide:nth-child(6){
        animation-delay: 10s;
    }
    .slideshow .slide:nth-child(7){
        animation-delay: 12s;
    }
    .slideshow .slide:nth-child(8){
        animation-delay: 14s;
    }
    .slideshow .slide:nth-child(9){
        animation-delay: 16s;
    }
    .slideshow .slide:nth-child(10){
        animation-delay: 18s;
    }
    /* .slideshow .slide img{
    
        position: absolute;
        top:0;
        left:0;
        object-fit: cover;
        transform: rotateY(180deg);
    } */
    @keyframes animate{
    
        0%{
            transform: rotateY(90deg);
        }
       10%,100%{
            transform: rotateY(270deg);
        }
    }
</style>
<div class="slideshow" *ngIf="logstatus">
    <div class="slide">
     <img src="assets\ishi\ish.jpg"/>
    </div> 
    <div class="slide">
     <img src="assets\img2.jpg"/>
    </div> <div class="slide">
     <img src="assets\img3.jpg"/>
    </div> <div class="slide">
     <img src="assets\img4.jpg"/>
    </div> <div class="slide">
     <img src="assets\img5.jpg"/>
    </div> <div class="slide">
     <img src="assets\img6.jpg"/>
    </div> <div class="slide">
     <img src="assets\img7.jpg"/>
    </div> <div class="slide">
     <img src="assets\img8.jpg"/>
    </div> <div class="slide">
     <img src="assets\img9.jpg"/>
    </div> <div class="slide">
     <img src="assets\img10.jpg"/>
    </div> 
 </div>
 -->

<div>
    <div class="cart"><span (click)="moveto_checkout()"><img
                src="assets/cart.png" /><span>{{product_count}}</span></span></div>
</div><br />
<div class="container">
    <div class="row ">
        <div *ngFor="let item of products; let i=index;" class="card card-primary pad">
            <div class="card-header bg-primary text-white">
                <h4>{{item.name}}</h4>
            </div>

            <div class="card-body ">
                <img src="assets\img1.jpg" />
            </div>

            <div class="card-footer">
                {{item.price}} <button class="btn btn-primary" [disabled]="limit_exceeds"
                    (click)="add_to_cart(item.name)">add to cart</button></div>
        </div>


    </div>

</div>