
<div class="animation-home">
  <ng-container [ngSwitch]="animationTypeNumber">
    <h1 class="ml6" *ngSwitchCase="'0'">
      <span class="text-wrapper">
        <span class="letters">GANA INTERIORS AND DECORATORS</span>
      </span>
    </h1>

    <h1 class="ml1" *ngSwitchCase="'1'">
      <span class="text-wrapper">
        <span class="line line1"></span>
        <span class="letters">GANA INTERIORS AND DECORATORS</span>
        <span class="line line2"></span>
      </span>
    </h1>
    
    
    <!-- animation type 1 start  -->
    
    
    <h1 class="ml2" *ngSwitchCase="'2'">GANA INTERIORS AND DECORATORS</h1>
    <!-- animation type 2 end  -->
    
    <h1 class="ml3" *ngSwitchCase="'3'">GANA INTERIORS AND DECORATORS</h1>
    
    <!-- animation type 3 end  -->
    
    <h1 class="ml4" *ngSwitchCase="'4'">
      <span class="letters letters-1">Best</span>
      <span class="letters letters-2">Interiors</span>
      <span class="letters letters-3">Hyderabad</span>
    </h1>
    <!-- animation type 4 end  -->
    <h1 class="ml6" *ngSwitchCase="'6'">
      <span class="text-wrapper">
        <span class="letters">GANA INTERIORS AND DECORATORS</span>
      </span>
    </h1>
    <!-- animation type 1 end  -->
    <!-- animation type 2 start  -->
    <h1 class="ml5" *ngSwitchCase="'5'">
      <span class="text-wrapper">
        <span class="line line1"></span>
        <span class="letters letters-left">The Best</span>
        <span class="letters ampersand">Home Interiors</span>
        <span class="letters letters-right">And Decorators</span>
        <span class="line line2"></span>
      </span>
    </h1>
    <!-- animation ml5 end  -->
    
    <h1 class="ml7" *ngSwitchCase="'7'">
      <span class="text-wrapper">
        <span class="letters">Gana Is always Best in Interior Designing</span>
      </span>
    </h1>
    <!-- animation ml7 end  -->
    
    
    <h1 class="ml8" *ngSwitchCase="'8'">
      <span class="letters-container">
        <span class="letters letters-left">Hi</span>
        <span class="letters bang">!</span>
      </span>
      <span class="circle circle-white"></span>
      <span class="circle circle-dark"></span>
      <span class="circle circle-container"><span class="circle circle-dark-dashed"></span></span>
    </h1>
    <!-- animation ml8 end  -->
    
    <h1 class="ml9" *ngSwitchCase="'9'">
      <span class="text-wrapper">
        <span class="letters">Choose Gana Interiors and make Your home beatiful</span>
      </span>
    </h1>
    <!-- animation ml9 end  -->
    <h1 class="ml10" *ngSwitchCase="'10'">
      <span class="text-wrapper">
        <span class="letters">Gana Is the Best.</span>
      </span>
    </h1>
    <!-- animation ml10 end  -->
    
    
    <h1 class="ml11" *ngSwitchCase="'11'">
      <span class="text-wrapper">
        <span class="line line1"></span>
        <span class="letters">We are Always here..........make your home beatiful</span>
      </span>
    </h1>
    <!-- animation ml11 end  -->
    
    <h1 class="ml12" *ngSwitchCase="'12'">Gana Interiors and Home Decorators</h1>
    
    <!-- animation ml12 end  -->
    <h1 class="ml13" *ngSwitchCase="'13'">Over 1000+ customers Happy with Our productivity</h1>
    
    <!-- animation ml13 end  -->
    
    <h1 class="ml14" *ngSwitchCase="'14'">
      <span class="text-wrapper">
        <span class="letters">We are here to make your home beatiful</span>
        <span class="line"></span>
      </span>
    </h1>
    
    <!-- animation ml14 end  -->
    
    <h1 class="ml15" *ngSwitchCase="'15'">
      <span class="word">Contact</span>
      <span class="word">Gana Interiors</span>
      <span class="word">now</span>
    </h1>
    
    <!-- animation ml15 end  -->
    
    <h1 class="ml16" *ngSwitchCase="'16'">Made with love</h1> 
    <!-- animation ml16 end  -->
    
  </ng-container>
</div>



