
<div class="top-banner-top">
<div class="section">
  <img src="../../../assets/brand/brand.jpg"/>
</div>
<div class=" section menu-item">
 <div class="sub">Design Gallery</div> 
 <div class="sub">Modular Kitchen</div> 
 <div class="sub">Bedroom</div> 
 <div class="sub">Other Interiors</div> 
 <div class="sub">Space Saving Furniture</div> 
 <div class="sub">Recent Projects</div> 
</div>
<div class=" section getEstimation menuOpen">
<div class="estimate">
  <button class="btn btn-danger" (click)="estimateButtonClicked()">Get Estimation</button>
</div>
<div class="estimate-toggle" (click)="menuclicked()">
  <i class="fas fa-bars fa-2x" aria-hidden="true"></i>
</div>
</div>
</div>